[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
    url = https://github.com/msanders/snipmate.vim.git
    ignore = untracked
[submodule "vim/bundle/coffeescript"]
	path = vim/bundle/coffeescript
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/bundle/NERD-tree"]
	path = vim/bundle/NERD-tree
	url = https://github.com/vim-scripts/The-NERD-tree.git
    ignore = untracked
[submodule "vim/bundle/vim-twig"]
	path = vim/bundle/vim-twig
	url = https://github.com/lunaru/vim-twig.git
