name: CI

on:
  push:
    branches: [master]
  pull_request:

env:
  FORCE_COLOR: 3

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run tests in Docker
        run: make docker-test

  minimal-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Test setup without Homebrew
        run: make docker-test VARIANT=minimal
